Source: libco2
Section: devel
Priority: extra
Maintainer: Peterpaul Taekele Klein Haneveld <pp.kleinhaneveld@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, cdbs
Standards-Version: 3.9.1
Homepage: http://www.kleinhaneveld.tk/co2
Vcs-Git: git@gitorious.org:co2/co2.git
Vcs-Browser: https://gitorious.org/co2/co2/trees/master/co2

Package: libco2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Small and fast object system for C.
 <insert long description, indented with spaces>
